<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Text App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/Compte">Mon Compte</a>
        </li>
        {{/if}}

        {{#unless user}}
        <li class="nav-item">
          <a class="nav-link" href="/inscription">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/connexion">Connexion</a>
        </li>
        {{/unless}}

      {{#if user}}
        <li>
          <form method="post" action="/deconnexion">
            <input type="submit" value="Déconnexion">
          </form>
        </li>
      {{/if}}

      </ul>
    </div>
  </div>
</nav>