<h1 class="text-center">{{titre}}</h1>

<form action="" class="mt-5 rounded h-100 w-50 border border-warning container d-flex justify-content-center align-items-center flex-column" id="auth-form">
    <label class="d-flex flex-column w-75 m-3" >
        Username
        <input type="text" class="rounded" style="height:50px ;" id="username-input">

    </label>

    <label class="d-flex flex-column w-75 m-3" style="font-size: 20px;">
        Password
        <input type="password"  class="rounded" style="height:50px;" id="password-input">

    </label>

    <input type="submit" value="Log In" class="btn btn-primary w-50 m-5">
</form>