<main class="">
    <h1 class="text-light text-center">Group Message</h1>

    <div class="container border border-primary d-flex flex-column w-50" style="height:800px ;">

        <div id="message-container" class="m-2">
           
           {{#each messages}}
           <div class="bg-light w-25 rounded" id="message-wrapper">
            <span class="p-4" id="user">{{this.username}}</span>
            <p id="message" class="p-4">{{this.message}}</p>
           </div>
           {{/each}}
        </div>

        <form action="" class="align-self-end mt-auto" id="message-form">
            <input style="width:500px ;" type="text" name="" id="form-message-input" class="rounded p-2" >
            <input type="submit" name="" id="" class="btn btn-primary">
        </form>
    </div>
</main>