@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    background-color: #333;
    height: 89vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;.35) 0px 5px 15px;
}
#message_wrapper::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  #message_wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#bbb;
  }

#btn-delete-message{
    background: none;
    border: none;
    background-color:aqua ;
}

.message_container{
    max-height: 100%;
}

#message_wrapper{
    height: 1000px;
}

#form_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

#auth_form{
    width: 200%;
    height: 100%;
    background-color: yellow;
}

#message{
    border-radius: 20px;
}

#message span{
    right:2%;
    bottom: 2%;
}

#form-message-input{
    border-radius: 20px;
}