@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    background-color: #333;
    height: 89vh;
    border-radius: 20px;
}
#message_wrapper::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  #message_wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#bbb;
  }

#btn-delete-message{
    background: none;
    border: none;
    background-color:aqua ;
}

.message_container{
    max-height: 100%;
}

#message_wrapper{
    height: 1000px;
}

#form_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

#auth_form{
    width: 200%;
    height: 100%;
    background-color: yellow;
}

#message{
    border-radius: 20px;
}

#message span{
    right:0;
    bottom: 0;
    background-color: yellow;
}

#form-message-input{
    border-radius: 20px;
}


#heure{
    right: 2%;
    bottom: 2%;
}

#btn-delete{
    right: 0.2%;
    top: 1%;

}


